{% extends "shell.html" %}
{% from "macros.html" import icon, navitem %}

{% block sidebar %}
  <div class="nav-heading">Admin</div>
  {{ navitem('/admin', 'target', 'Overview', active_page == 'home') }}
  {{ navitem('/admin/users', 'user', 'Users', active_page == 'users') }}
  {{ navitem('/admin/jobs', 'briefcase', 'Jobs', active_page == 'jobs') }}
  {{ navitem('/admin/audit', 'doc', 'Audit log', active_page == 'audit') }}
  <div class="nav-heading">Account</div>
  {{ navitem('/account', 'building', 'Settings') }}
{% endblock %}
